<div class="home-teachers-main">
  <div class="container">
    <div
      class="home-teachers-title wow animate__fadeInUp animate__delay-1s bounceInUp"
    >
    <div class="container-title">
      <h2>Team Members</h2>
      <h3>Meet our dynamic team members</h3>
    </div>
  </div>
    <!-- END! home-teachers-title -->

    <div class="card-container">
      <div class="card wow animate__fadeInUp animate__delay-2s bounceInUp">
        <div class="image">
          <img src="./assets/images/Ellipse 1.png" alt="" />
        </div>
        <div class="text-box">
          <h3 class="title">Md. Rofikul Islam</h3>
          <h2 class="subtitle">Co-founder & CEO</h2>
          <p class="description">
            Being a part of NIT I feel proud and happy to make this journey
            with my whole team</p>
        </div>
      </div>
      <!-- END of card -->

      <div
        class="card card-second wow animate__fadeInUp animate__delay-3s bounceInUp"
      >
        <div class="image">
          <img src="./assets/images/Ellipse 2.png" alt="" />
        </div>
        <div class="text-box">
          <h3 class="title">Md. Rofikul Islam</h3>
          <h2 class="subtitle">Co-founder & CEO</h2>
          <span class="description">
            Being a part of NIT I feel proud and happy to make this journey
            with my whole team</span>
        </div>
      </div>
      <!-- END of card -->

      <div class="card wow animate__fadeInUp animate__delay-4s bounceInUp">
        <div class="image">
          <img src="./assets/images/Ellipse 3.png" alt="" />
        </div>
        <div class="text-box">
          <h3 class="title">Md. Rofikul Islam</h3>
          <h2 class="subtitle">Co-founder & CEO</h2>
          <span class="description">
            Being a part of NIT I feel proud and happy to make this journey
            with my whole team</span>
        </div>
      </div>
      <!-- END of card -->

    </div>
  </div>
</div>
<!-- END! home-teachers-main -->
