<div class="header-sidebar-main" [class.open]="headerSideBar">
  <div class="header-sidebar-child">
    <div class="cross-section">
      <a (click)="onHeaderSideBar()">
        <i class="fa-solid fa-xmark"></i>
      </a>
    </div>
    <!-- END! cross-section -->

    <div class="header-menu">
      <ul>
        <li routerLink="/about-us">
          <a>ABOUT </a>
        </li>

        <li routerLink="/about-us">
          <a>EVENTS</a>
        </li>

        <li routerLink="/gallery">
          <a>GALLERY</a>
        </li>            

        <li routerLink="/our-products">
          <a>NEWS</a>
        </li>

        <li routerLink="/gallery">
          <a>MEDIA</a>
        </li>

        <li routerLink="/contact-us">
          <a>TIMELINE</a>
        </li>

        <li routerLink="/contact-us">
          <a>CONTACT</a>
        </li>
      </ul>

      <div class="header-bottom-post">
        <button type="button">
          <span>GET INVOLVED</span>
        </button>
      </div>
      <!-- End ofd header-bottom-post area-->
    </div>
    <!-- END! header-menu -->
  </div>
</div>

<div class="overlay" [class.open]="headerSideBar"></div>
<!-- END! overlay -->
