<div class="container-main">
    <div class="container">
      <div class="container-title">
        <h2>About Us</h2>
        <h3>Agile Solutions, Crafted with Ninja Precision</h3>
      </div>
      <!-- END! container-title -->
  
      <div class="main-content">
        <div class="left">
          <img src="./assets/images/galery.png" alt="" />
        </div>
        <div class="right">
          <div class="description">
            <p>{{description}}</p>
          </div>
  
          <div class="btn">
            <button class="formal">See More</button>
            <!-- <button class="see-more">See More</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END! container-main -->
  